<a href="https://colab.research.google.com/github/anekekarina99/Research_IndonesianBreastCancer/blob/main/penelitian_kanker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Preparation**

In [ ]:
#import library

import pandas as pd

In [ ]:
dataset= pd.read_csv('/content/drive/MyDrive/dataset_cancer.csv')

In [ ]:
dataset.head(100)

,Grouping,Age (years),Education,Working status,Marital status,Menarche (years),Menopause,First pregnancy,Parity,Breastfeeding,Highfat,BMI,Ethnicity
0,BC,>= 50,Senior high school,Housewife,Marriage,12 to 13,< 50 years,20-29 years,>= Multiparous,>=12 months,Normal,Obesity,Minangnese
1,Non-BC,>= 50,Vocational degree,Master's student,Single/ widow,>13,< 50 years,>30 years,>= Multiparous,<12 months,High,Normal,Minangnese
2,BC,>= 50,Senior high school,Housewife,Marriage,7 to 11,< 50 years,20-29 years,>= Multiparous,>=12 months,Normal,Normal,Javanese
3,Non-BC,>= 50,Senior high school,Master's student,Marriage,12 to 13,< 50 years,20-29 years,Primiparous,>=12 months,High,Normal,Javanese
4,BC,>= 50,Senior high school,Private servant,Marriage,>13,< 50 years,20-29 years,>= Multiparous,>=12 months,High,Normal,Minangnese
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Non-BC,>= 50,Undergraduate degree,Private servant,Marriage,>13,< 50 years,20-29 years,Primiparous,>=12 months,Normal,Normal,Javanese
96,BC,>= 50,Senior high school,Housewife,Marriage,12 to 13,>= 50 years,>30 years,>= Multiparous,>=12 months,High,Obesity,Minangnese
97,Non-BC,>= 50,Undergraduate degree,Private servant,Marriage,>13,< 50 years,20-29 years,>= Multiparous,<12 months,Normal,Normal,Minangnese
98,BC,< 50,Elementary school,Housewife,Marriage,12 to 13,>= 50 years,20-29 years,>= Multiparous,>=12 months,High,Normal,Javanese
99,Non-BC,< 50,Master degree,Civil servant,Marriage,>13,>= 50 years,20-29 years,>= Multiparous,>=12 months,Normal,Overweight,Javanese

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Grouping          400 non-null    object
 1   Age (years)       400 non-null    object
 2   Education         400 non-null    object
 3   Working status    400 non-null    object
 4   Marital status    400 non-null    object
 5   Menarche (years)  400 non-null    object
 6   Menopause         400 non-null    object
 7   First pregnancy   400 non-null    object
 8   Parity            400 non-null    object
 9   Breastfeeding     400 non-null    object
 10  Highfat           400 non-null    object
 11  BMI               400 non-null    object
 12  Ethnicity         400 non-null    object
dtypes: object(13)
memory usage: 40.8+ KB

In [ ]:
dataset.describe()

,Grouping,Age (years),Education,Working status,Marital status,Menarche (years),Menopause,First pregnancy,Parity,Breastfeeding,Highfat,BMI,Ethnicity
count,400,400,400,400,400,400,400,400,400,400,400,400,400
unique,2,2,7,7,2,3,2,4,3,2,2,3,2
top,BC,>= 50,Senior high school,Housewife,Marriage,12 to 13,< 50 years,20-29 years,>= Multiparous,>=12 months,High,Normal,Minangnese
freq,200,221,159,220,362,190,200,284,334,355,280,212,200

Fit Transform

In [ ]:
dataset.isnull().sum()

Grouping            0
Age (years)         0
Education           0
Working status      0
Marital status      0
Menarche (years)    0
Menopause           0
First pregnancy     0
Parity              0
Breastfeeding       0
Highfat             0
BMI                 0
Ethnicity           0
dtype: int64

In [ ]:
dataset = dataset.drop_duplicates()

In [ ]:
dataset.duplicated().any()

False

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
d=dataset.apply(le.fit_transform)

In [ ]:
#Splitting

X =d.loc[:,"Age (years)":"Ethnicity"]
y = d["Grouping"]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:

X_train, X_test,y_train, y_test = train_test_split(X,y, random_state=100,  

                                   test_size=0.20,  

                                   shuffle=True)

In [ ]:
dataset.head()

,Grouping,Age (years),Education,Working status,Marital status,Menarche (years),Menopause,First pregnancy,Parity,Breastfeeding,Highfat,BMI,Ethnicity
0,BC,>= 50,Senior high school,Housewife,Marriage,12 to 13,< 50 years,20-29 years,>= Multiparous,>=12 months,Normal,Obesity,Minangnese
1,Non-BC,>= 50,Vocational degree,Master's student,Single/ widow,>13,< 50 years,>30 years,>= Multiparous,<12 months,High,Normal,Minangnese
2,BC,>= 50,Senior high school,Housewife,Marriage,7 to 11,< 50 years,20-29 years,>= Multiparous,>=12 months,Normal,Normal,Javanese
3,Non-BC,>= 50,Senior high school,Master's student,Marriage,12 to 13,< 50 years,20-29 years,Primiparous,>=12 months,High,Normal,Javanese
4,BC,>= 50,Senior high school,Private servant,Marriage,>13,< 50 years,20-29 years,>= Multiparous,>=12 months,High,Normal,Minangnese

Modeling and HyperParameter Tuning

In [ ]:
# Necessary imports KNN
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.svm import SVC

In [ ]:
knn_clf = KNN()
svc_clf = SVC()

In [ ]:
knn_clf.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
knn_clf.score(X_test,y_test)

0.704225352112676

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = [ { 'n_neighbors': list(range(1,9)),
                        'algorithm': ['auto', 'ball_tree', 'kd_tree' , 'brute'] } ]

# defining parameter range
param_grid2 = {'C': [0.1, 1, 10, 100, 1000], 
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']}

In [ ]:
gs = GridSearchCV(knn_clf,param_grid,cv=20)
gs.fit(X_train, y_train)

GridSearchCV(cv=20, estimator=KNeighborsClassifier(),
             param_grid=[{'algorithm': ['auto', 'ball_tree', 'kd_tree',
                                        'brute'],
                          'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8]}])

In [ ]:
gs1 = GridSearchCV(svc_clf,param_grid2,refit = True, verbose = 100)
gs1.fit(X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5; 1/25] START C=0.1, gamma=1, kernel=rbf.................................
[CV 1/5; 1/25] END ..C=0.1, gamma=1, kernel=rbf;, score=0.526 total time=   0.0s
[CV 2/5; 1/25] START C=0.1, gamma=1, kernel=rbf.................................
[CV 2/5; 1/25] END ..C=0.1, gamma=1, kernel=rbf;, score=0.526 total time=   0.0s
[CV 3/5; 1/25] START C=0.1, gamma=1, kernel=rbf.................................
[CV 3/5; 1/25] END ..C=0.1, gamma=1, kernel=rbf;, score=0.526 total time=   0.0s
[CV 4/5; 1/25] START C=0.1, gamma=1, kernel=rbf.................................
[CV 4/5; 1/25] END ..C=0.1, gamma=1, kernel=rbf;, score=0.526 total time=   0.0s
[CV 5/5; 1/25] START C=0.1, gamma=1, kernel=rbf.................................
[CV 5/5; 1/25] END ..C=0.1, gamma=1, kernel=rbf;, score=0.536 total time=   0.0s
[CV 1/5; 2/25] START C=0.1, gamma=0.1, kernel=rbf...............................
[CV 1/5; 2/25] END C=0.1, gamma=0.1, kernel=rbf;, score=0.632 total time=   0.0s
[CV 2/5; 2/25] START C=0.1, gamma=0.1, kernel=rbf...............................
[CV 2/5; 2/25] END C=0.1, gamma=0.1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 3/5; 2/25] START C=0.1, gamma=0.1, kernel=rbf...............................
[CV 3/5; 2/25] END C=0.1, gamma=0.1, kernel=rbf;, score=0.596 total time=   0.0s
[CV 4/5; 2/25] START C=0.1, gamma=0.1, kernel=rbf...............................
[CV 4/5; 2/25] END C=0.1, gamma=0.1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 5/5; 2/25] START C=0.1, gamma=0.1, kernel=rbf...............................
[CV 5/5; 2/25] END C=0.1, gamma=0.1, kernel=rbf;, score=0.643 total time=   0.0s
[CV 1/5; 3/25] START C=0.1, gamma=0.01, kernel=rbf..............................
[CV 1/5; 3/25] END C=0.1, gamma=0.01, kernel=rbf;, score=0.526 total time=   0.0s
[CV 2/5; 3/25] START C=0.1, gamma=0.01, kernel=rbf..............................
[CV 2/5; 3/25] END C=0.1, gamma=0.01, kernel=rbf;, score=0.526 total time=   0.0s
[CV 3/5; 3/25] START C=0.1, gamma=0.01, kernel=rbf..............................
[CV 3/5; 3/25] END C=0.1, gamma=0.01, kernel=rbf;, score=0.526 total time=   0.0s
[CV 4/5; 3/25] START C=0.1, gamma=0.01, kernel=rbf..............................
[CV 4/5; 3/25] END C=0.1, gamma=0.01, kernel=rbf;, score=0.526 total time=   0.0s
[CV 5/5; 3/25] START C=0.1, gamma=0.01, kernel=rbf..............................
[CV 5/5; 3/25] END C=0.1, gamma=0.01, kernel=rbf;, score=0.536 total time=   0.0s
[CV 1/5; 4/25] START C=0.1, gamma=0.001, kernel=rbf.............................
[CV 1/5; 4/25] END C=0.1, gamma=0.001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 2/5; 4/25] START C=0.1, gamma=0.001, kernel=rbf.............................
[CV 2/5; 4/25] END C=0.1, gamma=0.001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 3/5; 4/25] START C=0.1, gamma=0.001, kernel=rbf.............................
[CV 3/5; 4/25] END C=0.1, gamma=0.001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 4/5; 4/25] START C=0.1, gamma=0.001, kernel=rbf.............................
[CV 4/5; 4/25] END C=0.1, gamma=0.001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 5/5; 4/25] START C=0.1, gamma=0.001, kernel=rbf.............................
[CV 5/5; 4/25] END C=0.1, gamma=0.001, kernel=rbf;, score=0.536 total time=   0.0s
[CV 1/5; 5/25] START C=0.1, gamma=0.0001, kernel=rbf............................
[CV 1/5; 5/25] END C=0.1, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 2/5; 5/25] START C=0.1, gamma=0.0001, kernel=rbf............................
[CV 2/5; 5/25] END C=0.1, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 3/5; 5/25] START C=0.1, gamma=0.0001, kernel=rbf............................
[CV 3/5; 5/25] END C=0.1, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 4/5; 5/25] START C=0.1, gamma=0.0001, kernel=rbf............................
[CV 4/5; 5/25] END C=0.1, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 5/5; 5/25] START C=0.1, gamma=0.0001, kernel=rbf............................
[CV 5/5; 5/25] END C=0.1, gamma=0.0001, kernel=rbf;, score=0.536 total time=   0.0s
[CV 1/5; 6/25] START C=1, gamma=1, kernel=rbf...................................
[CV 1/5; 6/25] END ....C=1, gamma=1, kernel=rbf;, score=0.596 total time=   0.0s
[CV 2/5; 6/25] START C=1, gamma=1, kernel=rbf...................................
[CV 2/5; 6/25] END ....C=1, gamma=1, kernel=rbf;, score=0.702 total time=   0.0s
[CV 3/5; 6/25] START C=1, gamma=1, kernel=rbf...................................
[CV 3/5; 6/25] END ....C=1, gamma=1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 4/5; 6/25] START C=1, gamma=1, kernel=rbf...................................
[CV 4/5; 6/25] END ....C=1, gamma=1, kernel=rbf;, score=0.632 total time=   0.0s
[CV 5/5; 6/25] START C=1, gamma=1, kernel=rbf...................................
[CV 5/5; 6/25] END ....C=1, gamma=1, kernel=rbf;, score=0.661 total time=   0.0s
[CV 1/5; 7/25] START C=1, gamma=0.1, kernel=rbf.................................
[CV 1/5; 7/25] END ..C=1, gamma=0.1, kernel=rbf;, score=0.737 total time=   0.0s
[CV 2/5; 7/25] START C=1, gamma=0.1, kernel=rbf.................................
[CV 2/5; 7/25] END ..C=1, gamma=0.1, kernel=rbf;, score=0.789 total time=   0.0s
[CV 3/5; 7/25] START C=1, gamma=0.1, kernel=rbf.................................
[CV 3/5; 7/25] END ..C=1, gamma=0.1, kernel=rbf;, score=0.825 total time=   0.0s
[CV 4/5; 7/25] START C=1, gamma=0.1, kernel=rbf.................................
[CV 4/5; 7/25] END ..C=1, gamma=0.1, kernel=rbf;, score=0.754 total time=   0.0s
[CV 5/5; 7/25] START C=1, gamma=0.1, kernel=rbf.................................
[CV 5/5; 7/25] END ..C=1, gamma=0.1, kernel=rbf;, score=0.696 total time=   0.0s
[CV 1/5; 8/25] START C=1, gamma=0.01, kernel=rbf................................
[CV 1/5; 8/25] END .C=1, gamma=0.01, kernel=rbf;, score=0.702 total time=   0.0s
[CV 2/5; 8/25] START C=1, gamma=0.01, kernel=rbf................................
[CV 2/5; 8/25] END .C=1, gamma=0.01, kernel=rbf;, score=0.719 total time=   0.0s
[CV 3/5; 8/25] START C=1, gamma=0.01, kernel=rbf................................
[CV 3/5; 8/25] END .C=1, gamma=0.01, kernel=rbf;, score=0.719 total time=   0.0s
[CV 4/5; 8/25] START C=1, gamma=0.01, kernel=rbf................................
[CV 4/5; 8/25] END .C=1, gamma=0.01, kernel=rbf;, score=0.807 total time=   0.0s
[CV 5/5; 8/25] START C=1, gamma=0.01, kernel=rbf................................
[CV 5/5; 8/25] END .C=1, gamma=0.01, kernel=rbf;, score=0.696 total time=   0.0s
[CV 1/5; 9/25] START C=1, gamma=0.001, kernel=rbf...............................
[CV 1/5; 9/25] END C=1, gamma=0.001, kernel=rbf;, score=0.544 total time=   0.0s
[CV 2/5; 9/25] START C=1, gamma=0.001, kernel=rbf...............................
[CV 2/5; 9/25] END C=1, gamma=0.001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 3/5; 9/25] START C=1, gamma=0.001, kernel=rbf...............................
[CV 3/5; 9/25] END C=1, gamma=0.001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 4/5; 9/25] START C=1, gamma=0.001, kernel=rbf...............................
[CV 4/5; 9/25] END C=1, gamma=0.001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 5/5; 9/25] START C=1, gamma=0.001, kernel=rbf...............................
[CV 5/5; 9/25] END C=1, gamma=0.001, kernel=rbf;, score=0.536 total time=   0.0s
[CV 1/5; 10/25] START C=1, gamma=0.0001, kernel=rbf.............................
[CV 1/5; 10/25] END C=1, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 2/5; 10/25] START C=1, gamma=0.0001, kernel=rbf.............................
[CV 2/5; 10/25] END C=1, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 3/5; 10/25] START C=1, gamma=0.0001, kernel=rbf.............................
[CV 3/5; 10/25] END C=1, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 4/5; 10/25] START C=1, gamma=0.0001, kernel=rbf.............................
[CV 4/5; 10/25] END C=1, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 5/5; 10/25] START C=1, gamma=0.0001, kernel=rbf.............................
[CV 5/5; 10/25] END C=1, gamma=0.0001, kernel=rbf;, score=0.536 total time=   0.0s
[CV 1/5; 11/25] START C=10, gamma=1, kernel=rbf.................................
[CV 1/5; 11/25] END ..C=10, gamma=1, kernel=rbf;, score=0.579 total time=   0.0s
[CV 2/5; 11/25] START C=10, gamma=1, kernel=rbf.................................
[CV 2/5; 11/25] END ..C=10, gamma=1, kernel=rbf;, score=0.614 total time=   0.0s
[CV 3/5; 11/25] START C=10, gamma=1, kernel=rbf.................................
[CV 3/5; 11/25] END ..C=10, gamma=1, kernel=rbf;, score=0.667 total time=   0.0s
[CV 4/5; 11/25] START C=10, gamma=1, kernel=rbf.................................
[CV 4/5; 11/25] END ..C=10, gamma=1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 5/5; 11/25] START C=10, gamma=1, kernel=rbf.................................
[CV 5/5; 11/25] END ..C=10, gamma=1, kernel=rbf;, score=0.679 total time=   0.0s
[CV 1/5; 12/25] START C=10, gamma=0.1, kernel=rbf...............................
[CV 1/5; 12/25] END C=10, gamma=0.1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 2/5; 12/25] START C=10, gamma=0.1, kernel=rbf...............................
[CV 2/5; 12/25] END C=10, gamma=0.1, kernel=rbf;, score=0.754 total time=   0.0s
[CV 3/5; 12/25] START C=10, gamma=0.1, kernel=rbf...............................
[CV 3/5; 12/25] END C=10, gamma=0.1, kernel=rbf;, score=0.772 total time=   0.0s
[CV 4/5; 12/25] START C=10, gamma=0.1, kernel=rbf...............................
[CV 4/5; 12/25] END C=10, gamma=0.1, kernel=rbf;, score=0.719 total time=   0.0s
[CV 5/5; 12/25] START C=10, gamma=0.1, kernel=rbf...............................
[CV 5/5; 12/25] END C=10, gamma=0.1, kernel=rbf;, score=0.661 total time=   0.0s
[CV 1/5; 13/25] START C=10, gamma=0.01, kernel=rbf..............................
[CV 1/5; 13/25] END C=10, gamma=0.01, kernel=rbf;, score=0.754 total time=   0.0s
[CV 2/5; 13/25] START C=10, gamma=0.01, kernel=rbf..............................
[CV 2/5; 13/25] END C=10, gamma=0.01, kernel=rbf;, score=0.772 total time=   0.0s
[CV 3/5; 13/25] START C=10, gamma=0.01, kernel=rbf..............................
[CV 3/5; 13/25] END C=10, gamma=0.01, kernel=rbf;, score=0.789 total time=   0.0s
[CV 4/5; 13/25] START C=10, gamma=0.01, kernel=rbf..............................
[CV 4/5; 13/25] END C=10, gamma=0.01, kernel=rbf;, score=0.842 total time=   0.0s
[CV 5/5; 13/25] START C=10, gamma=0.01, kernel=rbf..............................
[CV 5/5; 13/25] END C=10, gamma=0.01, kernel=rbf;, score=0.732 total time=   0.0s
[CV 1/5; 14/25] START C=10, gamma=0.001, kernel=rbf.............................
[CV 1/5; 14/25] END C=10, gamma=0.001, kernel=rbf;, score=0.684 total time=   0.0s
[CV 2/5; 14/25] START C=10, gamma=0.001, kernel=rbf.............................
[CV 2/5; 14/25] END C=10, gamma=0.001, kernel=rbf;, score=0.754 total time=   0.0s
[CV 3/5; 14/25] START C=10, gamma=0.001, kernel=rbf.............................
[CV 3/5; 14/25] END C=10, gamma=0.001, kernel=rbf;, score=0.754 total time=   0.0s
[CV 4/5; 14/25] START C=10, gamma=0.001, kernel=rbf.............................
[CV 4/5; 14/25] END C=10, gamma=0.001, kernel=rbf;, score=0.807 total time=   0.0s
[CV 5/5; 14/25] START C=10, gamma=0.001, kernel=rbf.............................
[CV 5/5; 14/25] END C=10, gamma=0.001, kernel=rbf;, score=0.679 total time=   0.0s
[CV 1/5; 15/25] START C=10, gamma=0.0001, kernel=rbf............................
[CV 1/5; 15/25] END C=10, gamma=0.0001, kernel=rbf;, score=0.544 total time=   0.0s
[CV 2/5; 15/25] START C=10, gamma=0.0001, kernel=rbf............................
[CV 2/5; 15/25] END C=10, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 3/5; 15/25] START C=10, gamma=0.0001, kernel=rbf............................
[CV 3/5; 15/25] END C=10, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 4/5; 15/25] START C=10, gamma=0.0001, kernel=rbf............................
[CV 4/5; 15/25] END C=10, gamma=0.0001, kernel=rbf;, score=0.526 total time=   0.0s
[CV 5/5; 15/25] START C=10, gamma=0.0001, kernel=rbf............................
[CV 5/5; 15/25] END C=10, gamma=0.0001, kernel=rbf;, score=0.554 total time=   0.0s
[CV 1/5; 16/25] START C=100, gamma=1, kernel=rbf................................
[CV 1/5; 16/25] END .C=100, gamma=1, kernel=rbf;, score=0.579 total time=   0.0s
[CV 2/5; 16/25] START C=100, gamma=1, kernel=rbf................................
[CV 2/5; 16/25] END .C=100, gamma=1, kernel=rbf;, score=0.614 total time=   0.0s
[CV 3/5; 16/25] START C=100, gamma=1, kernel=rbf................................
[CV 3/5; 16/25] END .C=100, gamma=1, kernel=rbf;, score=0.667 total time=   0.0s
[CV 4/5; 16/25] START C=100, gamma=1, kernel=rbf................................
[CV 4/5; 16/25] END .C=100, gamma=1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 5/5; 16/25] START C=100, gamma=1, kernel=rbf................................
[CV 5/5; 16/25] END .C=100, gamma=1, kernel=rbf;, score=0.679 total time=   0.0s
[CV 1/5; 17/25] START C=100, gamma=0.1, kernel=rbf..............................
[CV 1/5; 17/25] END C=100, gamma=0.1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 2/5; 17/25] START C=100, gamma=0.1, kernel=rbf..............................
[CV 2/5; 17/25] END C=100, gamma=0.1, kernel=rbf;, score=0.754 total time=   0.0s
[CV 3/5; 17/25] START C=100, gamma=0.1, kernel=rbf..............................
[CV 3/5; 17/25] END C=100, gamma=0.1, kernel=rbf;, score=0.702 total time=   0.0s
[CV 4/5; 17/25] START C=100, gamma=0.1, kernel=rbf..............................
[CV 4/5; 17/25] END C=100, gamma=0.1, kernel=rbf;, score=0.719 total time=   0.0s
[CV 5/5; 17/25] START C=100, gamma=0.1, kernel=rbf..............................
[CV 5/5; 17/25] END C=100, gamma=0.1, kernel=rbf;, score=0.679 total time=   0.0s
[CV 1/5; 18/25] START C=100, gamma=0.01, kernel=rbf.............................
[CV 1/5; 18/25] END C=100, gamma=0.01, kernel=rbf;, score=0.789 total time=   0.0s
[CV 2/5; 18/25] START C=100, gamma=0.01, kernel=rbf.............................
[CV 2/5; 18/25] END C=100, gamma=0.01, kernel=rbf;, score=0.772 total time=   0.0s
[CV 3/5; 18/25] START C=100, gamma=0.01, kernel=rbf.............................
[CV 3/5; 18/25] END C=100, gamma=0.01, kernel=rbf;, score=0.789 total time=   0.0s
[CV 4/5; 18/25] START C=100, gamma=0.01, kernel=rbf.............................
[CV 4/5; 18/25] END C=100, gamma=0.01, kernel=rbf;, score=0.754 total time=   0.0s
[CV 5/5; 18/25] START C=100, gamma=0.01, kernel=rbf.............................
[CV 5/5; 18/25] END C=100, gamma=0.01, kernel=rbf;, score=0.732 total time=   0.0s
[CV 1/5; 19/25] START C=100, gamma=0.001, kernel=rbf............................
[CV 1/5; 19/25] END C=100, gamma=0.001, kernel=rbf;, score=0.772 total time=   0.0s
[CV 2/5; 19/25] START C=100, gamma=0.001, kernel=rbf............................
[CV 2/5; 19/25] END C=100, gamma=0.001, kernel=rbf;, score=0.772 total time=   0.0s
[CV 3/5; 19/25] START C=100, gamma=0.001, kernel=rbf............................
[CV 3/5; 19/25] END C=100, gamma=0.001, kernel=rbf;, score=0.807 total time=   0.0s
[CV 4/5; 19/25] START C=100, gamma=0.001, kernel=rbf............................
[CV 4/5; 19/25] END C=100, gamma=0.001, kernel=rbf;, score=0.825 total time=   0.0s
[CV 5/5; 19/25] START C=100, gamma=0.001, kernel=rbf............................
[CV 5/5; 19/25] END C=100, gamma=0.001, kernel=rbf;, score=0.768 total time=   0.0s
[CV 1/5; 20/25] START C=100, gamma=0.0001, kernel=rbf...........................
[CV 1/5; 20/25] END C=100, gamma=0.0001, kernel=rbf;, score=0.684 total time=   0.0s
[CV 2/5; 20/25] START C=100, gamma=0.0001, kernel=rbf...........................
[CV 2/5; 20/25] END C=100, gamma=0.0001, kernel=rbf;, score=0.754 total time=   0.0s
[CV 3/5; 20/25] START C=100, gamma=0.0001, kernel=rbf...........................
[CV 3/5; 20/25] END C=100, gamma=0.0001, kernel=rbf;, score=0.772 total time=   0.0s
[CV 4/5; 20/25] START C=100, gamma=0.0001, kernel=rbf...........................
[CV 4/5; 20/25] END C=100, gamma=0.0001, kernel=rbf;, score=0.825 total time=   0.0s
[CV 5/5; 20/25] START C=100, gamma=0.0001, kernel=rbf...........................
[CV 5/5; 20/25] END C=100, gamma=0.0001, kernel=rbf;, score=0.679 total time=   0.0s
[CV 1/5; 21/25] START C=1000, gamma=1, kernel=rbf...............................
[CV 1/5; 21/25] END C=1000, gamma=1, kernel=rbf;, score=0.579 total time=   0.0s
[CV 2/5; 21/25] START C=1000, gamma=1, kernel=rbf...............................
[CV 2/5; 21/25] END C=1000, gamma=1, kernel=rbf;, score=0.614 total time=   0.0s
[CV 3/5; 21/25] START C=1000, gamma=1, kernel=rbf...............................
[CV 3/5; 21/25] END C=1000, gamma=1, kernel=rbf;, score=0.667 total time=   0.0s
[CV 4/5; 21/25] START C=1000, gamma=1, kernel=rbf...............................
[CV 4/5; 21/25] END C=1000, gamma=1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 5/5; 21/25] START C=1000, gamma=1, kernel=rbf...............................
[CV 5/5; 21/25] END C=1000, gamma=1, kernel=rbf;, score=0.679 total time=   0.0s
[CV 1/5; 22/25] START C=1000, gamma=0.1, kernel=rbf.............................
[CV 1/5; 22/25] END C=1000, gamma=0.1, kernel=rbf;, score=0.649 total time=   0.0s
[CV 2/5; 22/25] START C=1000, gamma=0.1, kernel=rbf.............................
[CV 2/5; 22/25] END C=1000, gamma=0.1, kernel=rbf;, score=0.719 total time=   0.0s
[CV 3/5; 22/25] START C=1000, gamma=0.1, kernel=rbf.............................
[CV 3/5; 22/25] END C=1000, gamma=0.1, kernel=rbf;, score=0.702 total time=   0.0s
[CV 4/5; 22/25] START C=1000, gamma=0.1, kernel=rbf.............................
[CV 4/5; 22/25] END C=1000, gamma=0.1, kernel=rbf;, score=0.684 total time=   0.0s
[CV 5/5; 22/25] START C=1000, gamma=0.1, kernel=rbf.............................
[CV 5/5; 22/25] END C=1000, gamma=0.1, kernel=rbf;, score=0.661 total time=   0.0s
[CV 1/5; 23/25] START C=1000, gamma=0.01, kernel=rbf............................
[CV 1/5; 23/25] END C=1000, gamma=0.01, kernel=rbf;, score=0.754 total time=   0.0s
[CV 2/5; 23/25] START C=1000, gamma=0.01, kernel=rbf............................
[CV 2/5; 23/25] END C=1000, gamma=0.01, kernel=rbf;, score=0.702 total time=   0.0s
[CV 3/5; 23/25] START C=1000, gamma=0.01, kernel=rbf............................
[CV 3/5; 23/25] END C=1000, gamma=0.01, kernel=rbf;, score=0.702 total time=   0.0s
[CV 4/5; 23/25] START C=1000, gamma=0.01, kernel=rbf............................
[CV 4/5; 23/25] END C=1000, gamma=0.01, kernel=rbf;, score=0.754 total time=   0.0s
[CV 5/5; 23/25] START C=1000, gamma=0.01, kernel=rbf............................
[CV 5/5; 23/25] END C=1000, gamma=0.01, kernel=rbf;, score=0.661 total time=   0.0s
[CV 1/5; 24/25] START C=1000, gamma=0.001, kernel=rbf...........................
[CV 1/5; 24/25] END C=1000, gamma=0.001, kernel=rbf;, score=0.807 total time=   0.0s
[CV 2/5; 24/25] START C=1000, gamma=0.001, kernel=rbf...........................
[CV 2/5; 24/25] END C=1000, gamma=0.001, kernel=rbf;, score=0.772 total time=   0.0s
[CV 3/5; 24/25] START C=1000, gamma=0.001, kernel=rbf...........................
[CV 3/5; 24/25] END C=1000, gamma=0.001, kernel=rbf;, score=0.807 total time=   0.0s
[CV 4/5; 24/25] START C=1000, gamma=0.001, kernel=rbf...........................
[CV 4/5; 24/25] END C=1000, gamma=0.001, kernel=rbf;, score=0.825 total time=   0.0s
[CV 5/5; 24/25] START C=1000, gamma=0.001, kernel=rbf...........................
[CV 5/5; 24/25] END C=1000, gamma=0.001, kernel=rbf;, score=0.732 total time=   0.0s
[CV 1/5; 25/25] START C=1000, gamma=0.0001, kernel=rbf..........................
[CV 1/5; 25/25] END C=1000, gamma=0.0001, kernel=rbf;, score=0.772 total time=   0.0s
[CV 2/5; 25/25] START C=1000, gamma=0.0001, kernel=rbf..........................

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             verbose=100)

In [ ]:
pd.DataFrame(gs.cv_results_['params'])

    algorithm  n_neighbors
0        auto            1
1        auto            2
2        auto            3
3        auto            4
4        auto            5
5        auto            6
6        auto            7
7        auto            8
8   ball_tree            1
9   ball_tree            2
10  ball_tree            3
11  ball_tree            4
12  ball_tree            5
13  ball_tree            6
14  ball_tree            7
15  ball_tree            8
16    kd_tree            1
17    kd_tree            2
18    kd_tree            3
19    kd_tree            4
20    kd_tree            5
21    kd_tree            6
22    kd_tree            7
23    kd_tree            8
24      brute            1
25      brute            2
26      brute            3
27      brute            4
28      brute            5
29      brute            6
30      brute            7
31      brute            8

In [ ]:
pd.DataFrame(gs1.cv_results_['params'])

         C   gamma kernel
0      0.1  1.0000    rbf
1      0.1  0.1000    rbf
2      0.1  0.0100    rbf
3      0.1  0.0010    rbf
4      0.1  0.0001    rbf
5      1.0  1.0000    rbf
6      1.0  0.1000    rbf
7      1.0  0.0100    rbf
8      1.0  0.0010    rbf
9      1.0  0.0001    rbf
10    10.0  1.0000    rbf
11    10.0  0.1000    rbf
12    10.0  0.0100    rbf
13    10.0  0.0010    rbf
14    10.0  0.0001    rbf
15   100.0  1.0000    rbf
16   100.0  0.1000    rbf
17   100.0  0.0100    rbf
18   100.0  0.0010    rbf
19   100.0  0.0001    rbf
20  1000.0  1.0000    rbf
21  1000.0  0.1000    rbf
22  1000.0  0.0100    rbf
23  1000.0  0.0010    rbf
24  1000.0  0.0001    rbf

In [ ]:
gs.best_params_

{'algorithm': 'brute', 'n_neighbors': 3}

In [ ]:
gs1.best_params_

{'C': 100, 'gamma': 0.001, 'kernel': 'rbf'}

In [ ]:
pd.DataFrame(gs1.cv_results_['mean_test_score'])

           0
0   0.528195
1   0.633835
2   0.528195
3   0.528195
4   0.528195
5   0.647932
6   0.760338
7   0.728759
8   0.531704
9   0.528195
10  0.637469
11  0.711090
12  0.778008
13  0.735714
14  0.535276
15  0.637469
16  0.700627
17  0.767481
18  0.788659
19  0.742732
20  0.637469
21  0.683020
22  0.714599
23  0.788534
24  0.785088

In [ ]:
pd.DataFrame(gs.cv_results_['mean_test_score'])

           0
0   0.587857
1   0.612857
2   0.655952
3   0.645238
4   0.666190
5   0.672857
6   0.679286
7   0.651190
8   0.591190
9   0.612857
10  0.645000
11  0.641667
12  0.676667
13  0.672857
14  0.672619
15  0.658333
16  0.587857
17  0.612857
18  0.655952
19  0.645238
20  0.666190
21  0.672857
22  0.679286
23  0.651190
24  0.604524
25  0.608571
26  0.680000
27  0.651429
28  0.655476
29  0.648333
30  0.644762
31  0.662143

In [ ]:
print(gs.score(X_test,y_test))

0.651685393258427